/*---------------------- 1. Body ------------------------*/
/* Add font */
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Regular.ttf');
}
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Bold.ttf');
     font-weight: bold;
}
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Italic.ttf');
     font-style: italic;
}
 @font-face {
     font-family: "Arvo";
     src: url('../fonts/Arvo-Bold.ttf');
}
 @font-face {
     font-family: "Arvo";
     src: url('../fonts/Arvo-Bold.ttf');
     font-weight: bold;
}
 * {
     margin: 0;
     padding: 0;
}
 body {
     background-color: #fff;
     color: #333;
     font-family: 'Futura', sans-serif;
     font-size: 14px;
}
 html,body {
     height: 100%;
}
 h1,h2,h3,h4,h5,h6 {
     margin-top: 0;
}
 p::last-child {
     margin-bottom: 0;
}
 a,a::before,*::before,*::after,i,button,input {
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 *:focus {
     outline: medium none;
}
 a,a:focus {
     color: inherit;
     outline: none !important;
     text-decoration: none !important;
}
 a,a:hover {
     text-decoration: none !important;
}
 ul,ol {
     list-style: none;
     margin: 0;
}
 img {
     max-width: 100%;
}
/*---------------------- 2. Common Classes ------------------------*/
/* Margin Center */
 .center {
     margin: 0 auto;
     text-align: center;
}
/* Overflow */
 .fix {
     overflow: hidden;
}
/* Float */
 .float-left {
     float: left;
}
 .float-right {
     float: right;
}
/* Section */
 .section {
     float: left;
     width: 100%;
}
/* Table & Table Cell */
 .table, .table-cell {
     display: table;
     height: 100%;
}
 @media only screen and (max-width: 767px) {
     .table, .table-cell {
         display: block;
         height: auto;
    }
}
 .table-cell {
     display: table-cell;
     vertical-align: middle;
}
 @media only screen and (max-width: 767px) {
     .table-cell {
         display: block;
         height: auto;
    }
}
/* Input Placeholder */
 input:-moz-placeholder, textarea:-moz-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input::-moz-placeholder, textarea::-moz-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*---------------------- 3. Header ------------------------*/
/* Top bar */
 .top-bar {
     height: 120px;
}
 .top-bar .search input#search {
     height: 4.75rem;
     width: 85%;
     padding-left: 5%;
     font-size: 18px;
     color: #fb2e2a;
     border: 1px solid black;
}
 .top-bar .search button {
     padding: 3%;
}
 .top-bar .cart {
     background: #dfdfdf;
     padding: 7%;
     border: 1px solid black;
}
 .top-bar .cart-text {
     font-size: 14px;
     color: #fb2e2a;
}
 .top-bar .logo {
     margin-top: 1%;
}
 .top-bar .logo img {
     height: auto;
}
 @media only screen and (max-width: 767px) and (min-width: 481px) {
     .top-bar {
         height: 100px;
    }
     .top-bar .logo {
         margin-top: 10px;
         display: none;
    }
     .top-bar .cart {
         padding: 7%;
    }
     .top-bar .search input#search {
         width: 85%;
         font-size: 17px;
    }
     .top-bar .search button {
         padding: 3%;
    }
     .top-bar .cart-text {
         font-size: 13px;
    }
}
 @media only screen and (max-width: 480px) {
     .top-bar {
         height: 100px;
    }
     .top-bar .logo {
         margin-top: 10px;
         display: none;
    }
     .top-bar .cart {
         padding: 9%;
    }
     .top-bar .search input#search {
         width: 79%;
         font-size: 16px;
    }
     .top-bar .search button {
         padding: 5%;
    }
     .top-bar .cart-text {
         font-size: 13px;
    }
}
 @media only screen and (max-width: 992px) and (min-width: 768px) {
     .top-bar .cart {
         padding: 9%;
    }
     .top-bar .search input#search {
         width: 80%;
         font-size: 17px;
    }
     .top-bar .search button {
         padding: 5%;
    }
     .top-bar .cart-text {
         font-size: 13px;
    }
}
/* Main menu */
 .main-menu {
     height: 50px;
}
 @media only screen and (max-width: 992px) {
     .main-menu {
         height: auto;
    }
}
 .navbar {
     margin-bottom: 0;
}
 .navbar.navbar-inverse {
     background-color: #fff;
     border: none;
}
 .navbar-brand {
     height: auto;
}
 .navbar-brand img {
     height: auto;
     width: 75%;
     display: none;
}
 @media only screen and (max-width: 480px) {
     .navbar-brand img {
         display: inline;
    }
     .navbar-toggle {
         margin-top: 10%;
         margin-right: 1%;
    }
}
 @media only screen and (max-width: 767px) {
     .navbar-brand img {
         display: inline;
    }
     .navbar-toggle {
         margin-top: 5%;
         margin-right: 1%;
    }
}
 .nav.navbar-nav #f {
     margin-left: 0px;
     padding-left: 0px;
}
 .nav.navbar-nav>li>a {
     font-family: Arvo;
     color: #000;
     font-weight: bold;
     font-size: 18px;
     padding-right: 40px;
}
 .nav.navbar-nav>li>a:hover {
     color: red;
}
 .nav.navbar-nav>li>a:focus {
     color: red;
}
 .nav.navbar-nav>li>a:hover i {
     color: red;
}
 .nav.navbar-nav>li>a .fa-angle-double-up {
     display: none;
}
 .nav.navbar-nav>li>a:hover .fa-angle-double-down {
     display: none;
}
 .nav.navbar-nav>li>a:hover .fa-angle-double-up {
     display: inline;
}
 .navbar-inverse .navbar-toggle {
     background-color: #333;
}
/* List brand */
 .list-brand {
     height: 170px;
     line-height: 170px;
     text-align: center;
}
 @media only screen and (max-width: 767px) {
     .list-brand {
         height: 80px;
         line-height: 80px;
         text-align: center;
    }
}
.list-brand img {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.list-brand img:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
/* Footer */
 .footer a {
     display: block;
     font-size: 18px;
}
 .footer {
     margin-top: 1%;
     margin-bottom: 5%;
}
 .footer .hd {
     font-weight: 700;
}
