/*---------- example css ----------*/
/*name*/
.footer {
  .hd{
    text-transform: uppercase;
    min-height: 51px;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/