/*---------- example css ----------*/
/*name*/
// .navbar-nav{
//   .open{
//     a{
//       &:hover{
//         color: white !important;
//       }
//     }
//   }
// }
.navbar-inverse{
  .navbar-header{
    display: flex;
    flex-direction: row-reverse;
  }
}
.top-bar {
  .search{
    button{
      margin-left: 6px;
    }
  } 
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .top-bar {
    .search{
      button{
        margin-left: 4px;
      }
    } 
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .top-bar {
    .search{
      button{
        margin-left: 6px;
      }
    } 
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/