/*---------- example css ----------*/
/*name*/
.slider-next-square{
  z-index: 2;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, .5);
  color: white;
  cursor: pointer;
  background-color:  rgba(0, 0, 0, .5);
  line-height: 40px;
  margin: 0 10px!important;
  padding: 0;
  text-align: center;
  visibility: visible;
  font-size: 13px;
  margin-right: 20px !important;
}
.slider-prev-square{
  z-index: 2;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, .5);
  color: white;
  cursor: pointer;
  background-color:  rgba(0, 0, 0, .5);
  line-height: 40px;
  margin: 0 10px!important;
  padding: 0;
  text-align: center;
  visibility: visible;
  font-size: 13px;
  margin-left: 20px !important;
}
.home-slider{
  .slick-slide{
    img{
      transform-style: inherit;
      width: 100%;
      max-height: 175px;
    }
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .home-slider{
    .slick-slide{
      img{
        min-height: 400px;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .home-slider{
    .slick-slide{
      img{
        min-height: 500px;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .home-slider{
    .slick-slide{
      img{
        max-height: 562px;
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/