/*---------- example css ----------*/
/*name*/
.list-product{
  .product{
    .sanpham{
      .header-image-product{
        .left{
          display: none;
        }
        
      }
      .info-product{
        .footer-product{
          display: none;
          button{
            margin-right: 5px;
          }
        }
      }
    }
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .list-product{
    .product{
      .sanpham{
        &:hover{
          border: 1px solid rgb(100, 100, 100);
          .header-image-product{
            .left{
              display: block;
            }
          }
          .info-product{
            .footer-product{
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/